*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

input[type=checkbox] {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

/* SASS BASE CLASSES */
.absPos, .blocks .trigger, .blocks .block {
  position: absolute;
  width: 50%;
  height: 50%;
}
.absPos.top, .blocks .top.trigger, .blocks .top.block {
  top: 0;
}
.absPos.right, .blocks .right.trigger, .blocks .right.block {
  left: 50%;
}
.absPos.bot, .blocks .bot.trigger, .blocks .bot.block {
  top: 50%;
}
.absPos.left, .blocks .left.trigger, .blocks .left.block {
  left: 0;
}

.labelClose, .blocks #left-top:checked ~ .trigger.left.top, .blocks #right-top:checked ~ .trigger.right.top, .blocks #left-bot:checked ~ .trigger.left.bot, .blocks #right-bot:checked ~ .trigger.right.bot {
  left: auto;
  bottom: auto;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  z-index: 101;
  -webkit-animation: hideAndShow 1s;
          animation: hideAndShow 1s;
}
.labelClose:before, .blocks #left-top:checked ~ .trigger.left.top:before, .blocks #right-top:checked ~ .trigger.right.top:before, .blocks #left-bot:checked ~ .trigger.left.bot:before, .blocks #right-bot:checked ~ .trigger.right.bot:before {
  content: "+";
  display: block;
  position: absolute;
  top: 5px;
  right: 43px;
  font-size: 50px;
  line-height: 30px;
  font-weight: bold;
  color: #fff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 0.5s;
          transition: 0.5s;
}
.labelClose:hover:before, .blocks #left-top:checked ~ .trigger.left.top:hover:before, .blocks #right-top:checked ~ .trigger.right.top:hover:before, .blocks #left-bot:checked ~ .trigger.left.bot:hover:before, .blocks #right-bot:checked ~ .trigger.right.bot:hover:before {
  -webkit-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
          transform: rotate(225deg);
  color: red;
}

.activeBlock, .blocks #left-top:checked ~ .block.left.top, .blocks #right-top:checked ~ .block.right.top, .blocks #left-bot:checked ~ .block.left.bot, .blocks #right-bot:checked ~ .block.right.bot {
  -webkit-transform: translateZ(0) scale(2.005);
          transform: translateZ(0) scale(2.005);
  z-index: 100;
  overflow-x: hidden;
  overflow-y: auto;
}
.activeBlock h1, .blocks #left-top:checked ~ .block.left.top h1, .blocks #right-top:checked ~ .block.right.top h1, .blocks #left-bot:checked ~ .block.left.bot h1, .blocks #right-bot:checked ~ .block.right.bot h1 {
  opacity: 0;
  z-index: 5;
}
.activeBlock .content, .blocks #left-top:checked ~ .block.left.top .content, .blocks #right-top:checked ~ .block.right.top .content, .blocks #left-bot:checked ~ .block.left.bot .content, .blocks #right-bot:checked ~ .block.right.bot .content {
  opacity: 1;
  z-index: 150;
}

/* END OF SASS BASE CLASSES */
.blocks {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
}
.blocks .trigger {
  z-index: 30;
  cursor: pointer;
}
.blocks .trigger:hover + .block h1 {
  color: #fff;
}
.blocks .block {
  font-size: 14px;
  -webkit-transition: 0.5s;
          transition: 0.5s;
  will-change: transform;
  z-index: 5;
  background-size: cover;
}
.blocks .block.left.top {
  -webkit-transform-origin: 0% 0%;
      -ms-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  background-image: url("001.png");
}
.blocks .block.right.top {
  -webkit-transform-origin: 100% 0%;
      -ms-transform-origin: 100% 0%;
          transform-origin: 100% 0%;
  background-image: url("002.png");
}
.blocks .block.left.bot {
  -webkit-transform-origin: 0% 100%;
      -ms-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
  background-image: url("003.png");
}
.blocks .block.right.bot {
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
  background-image: url("004.png");
}
.blocks .block h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  text-transform: uppercase;
  color: #aaa;
  -webkit-transition: 0.5s;
          transition: 0.5s;
  will-change: opacity;
}
.blocks .block .content {
  opacity: 0;
  z-index: 1;
  padding: 2em;
  text-align: left;
  -webkit-transition: 0.5s;
          transition: 0.5s;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  will-change: opacity;
}
.blocks .block .content h2 {
  font-size: 2.5em;
  margin-bottom: 1em;
}
.blocks .block .content p {
  font-size: 1em;
  margin: 0.5em 0;
}

/* fix for position absolute label movement outside block */
@-webkit-keyframes hideAndShow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  90% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes hideAndShow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  90% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}